@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@0,400..700;1,400..700&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* COLORS */
  --neutral-900: hsl(0, 0%, 0%);
  --neutral-100: hsl(0, 0%, 96%);
  --neutral-50: hsl(0, 0%, 98%);
  --neutral-0: hsl(0, 0%, 100%);

  --slate-800: hsl(245, 10%, 22%);
  --slate-400: hsl(243, 10%, 64%);
  --slate-300: hsl(330, 3%, 84%);

  --indigo-600: hsl(231, 64%, 58%);
  --indigo-500: hsl(231, 70%, 60%);

  --blue-950: hsl(205, 41%, 21%);
  --teal-900: hsl(167, 36%, 40%);
  --teal-400: hsl(167, 36%, 54%);
  --teal-100: hsla(167, 36%, 54%, 0.3);
  --skygv-400: hsl(193, 62%, 54%);
  --linen-50: hsl(9, 100%, 96%);
  --red-500: hsl(0, 90%, 57%);

  /* FONTS */
  --fs-1: 50px;
  --fs-2: 40px;
  --fs-3: 32px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 13px;
  --fs-7: 12px;
  --fs-8: 10px;

  /* SPACINGS */
  --sp-25: 0.25rem;
  --sp-50: 0.5rem;
  --sp-75: 0.75rem;
  --sp-100: 1rem;
  --sp-150: 1.5rem;
  --sp-200: 2rem;
  --sp-250: 2.5rem;
  --sp-300: 3rem;
  --sp-350: 3.5rem;
  --sp-400: 4rem;
  --sp-450: 4.5rem;
  --sp-500: 5rem;
  --sections-space: 9rem;

  /* WIDTH */
  --mx-width: 1440px;

  /* WEIGHT */
  --bolder: 900;
  --bold: 700;
  --regular: 400;
  --thin: 300;
}

.tp-1 {
  font-size: var(--fs-1);
  letter-spacing: -0.45px;
  line-height: 100%;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: var(--bold);
}
.tp-2 {
  font-size: var(--fs-2);
  letter-spacing: -0.35px;
  line-height: 105%;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: var(--bold);
}
.tp-3 {
  font-size: var(--fs-3);
  letter-spacing: -0.3px;
  line-height: 130%;
  font-family: 'Ibarra Real Nova', serif;
  font-weight: var(--regular);
}
.tp-4 {
  font-size: var(--fs-4);
  line-height: 187.5%;
  font-family: 'Public Sans', sans-serif;
  font-weight: var(--regular);
}
.tp-5 {
  font-size: var(--fs-5);
  line-height: 200%;
  font-family: 'Public Sans', sans-serif;
  font-weight: var(--regular);
}
.tp-6 {
  font-size: var(--fs-6);
  line-height: 230%;
  font-family: 'Public Sans', sans-serif;
  font-weight: var(--regular);
}
.tp-6-bold {
  font-size: var(--fs-6);
  line-height: 230%;
  font-family: 'Public Sans', sans-serif;
  font-weight: var(--bold);
}
.tp-7 {
  font-size: var(--fs-7);
  letter-spacing: 2px;
  line-height: 115%;
  font-family: 'Public Sans', sans-serif;
  font-weight: var(--regular);
}
.tp-8 {
  font-size: var(--fs-8);
  line-height: 120%;
  font-family: 'Public Sans', sans-serif;
  font-weight: var(--bold);
  font-style: italic;
}
.flex-align {
  display: flex;
  align-items: center;
}
.flex-align-justify {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  margin-inline: auto;
  max-width: var(--mx-width);
}
.border-block {
  border-top: 1px solid var(--slate-300);
  border-bottom: 1px solid var(--slate-300);
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

* {
  user-select: none;
}

p,
article,
.selectable {
  user-select: text;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  pointer-events: none;
  color: var(--slate-800);
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
  color: var(--slate-800);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  color: var(--slate-800);
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  pointer-events: all;
}

@media (max-width: 1472px) {
  .container {
    padding-inline: var(--sp-200);
  }
}

@media (max-width: 1024px) {
  :root {
    --fs-1: 40px;
    --fs-2: 36px;
  }
}

@media (max-width: 768px) {
  :root {
    --sections-space: 6rem;
  }
  .container {
    padding-inline: var(--sp-100);
  }
}


